section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card h4 {
  text-align: center;
}